doctype html
html(lang='en' dir='')
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width,initial-scale=1')
    meta(http-equiv='X-UA-Compatible' content='ie=edge')
    title Companies | ESD Application 
    link(rel='shortcut icon' href='/auth/assets/img/icon.png' type='image/x-icon')
    link(href='https://fonts.googleapis.com/css?family=Nunito:300,400,400i,600,700,800,900' rel='stylesheet')
    link(href='https://app.revenuestadia.com/accounts/dist-assets/css/themes/lite-blue.min.css' rel='stylesheet')
    link(href='https://app.revenuestadia.com/accounts/dist-assets/css/plugins/perfect-scrollbar.min.css' rel='stylesheet')
    link(rel="stylesheet" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css")
    style.
      #status
      {
        display: none;
      }
      #error_div
      {
        display:none
      }
      #loader1 
      {
        display:none
      }


  body.text-left
    .app-admin-wrap.layout-sidebar-large
      .main-header
        .logo
          img(src='https://i.pinimg.com/originals/38/87/3d/38873dc2b35fc18242944c2fab685192.jpg' style='width:70%;height:80%;object-fit: cover;' alt='')

        .menu-toggle
          div
          div
          div
        .d-flex.align-items-center


        div(style='margin: auto')
        .header-part-right
          // Full screen toggle
          i.i-Full-Screen.header-icon.d-none.d-sm-inline-block(data-fullscreen='')


          .dropdown
            .user.col.align-self-end
              img#userDropdown(src='https://img.pngio.com/avatar-icon-flat-avatar-png-256_256.png' alt='' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
              .dropdown-menu.dropdown-menu-right(aria-labelledby='userDropdown')
                .dropdown-header
                  i.i-Lock-User.mr-1
                  | #{user.fullname} 

                a.dropdown-item(href='/logout') Sign out
      .side-content-wrap
        .sidebar-left.open.rtl-ps-none(data-perfect-scrollbar='' data-suppress-scroll-x='true')
          ul.navigation-left
            li.nav-item
              a.nav-item-hold(href='/admin/')
                i.nav-icon.i-Business-Mens
                span.nav-text Partners 
              .triangle
            li.nav-item
              a.nav-item-hold(href='/admin/queue')
                i.nav-icon.i-Reload1
                span.nav-text Queue
              .triangle

            li.nav-item
              a.nav-item-hold(href='/admin/settings')
                i.nav-icon.i-Gear
                span.nav-text Settings
              .triangle

        .main-content-wrap.sidenav-open.d-flex.flex-column
          != messages('message', locals)
          .card 
            .card-header 

              strong Partners
                button.btn.btn-primary(style='float:right' type='button' data-toggle='modal' data-target='#import_meters') 

                  | Add Partner

                button.btn.btn-dark(style='float:right;margin-right:10px' type='button' data-toggle='modal' data-target='#import_companies') 

                  | Import Companies
                &nbsp;&nbsp;
            .card-body
              .row 
                .col-md-12
                  .table-responsive
                    table#deafult_ordering_table.display.table.table-striped.table-bordered.mytable(style='width:100%')
                      thead
                        tr
                          th Name
                          th Emails
                          th Actions
                      tbody 
                        each x in companies 
                          tr 
                            td #{x.company} 
                            td
                              if x.emails.length < 1
                                | .... 
                              if x.emails.length > 0 
                                each y in x.emails
                                  span.badge.badge-dark(style='padding:5px;margin:3px') #{y}
                                    &nbsp;
                                    a(href="/admin/delete_email/#{x.id}/#{y}") 
                                      i.i-Close-Window(style='color:red;background:white;padding:1px')
                            td 
                              .dropdown.show
                                a#dropdownMenuLink.dropdown-toggle(href='#' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
                                  | More Options
                                .dropdown-menu(aria-labelledby='dropdownMenuLink')
                                  a.dropdown-item(href="#" data-toggle='modal' data-target='#addemail' data-whatever=x.id) Add Email 
                                  a.dropdown-item(href="/admin/delete_company/#{x.id}"  ) Delete Company







  .modal.fade#import_companies(tabindex='-1' role='dialog' aria-labelledby='exampleModalCenterTitle' aria-hidden='true')
    .modal-dialog
      .modal-content
        .modal-header
          h5#exampleModalCenterTitle.modal-title IMPORT
          button.close(type='button' data-dismiss='modal' aria-label='Close')
            span(aria-hidden='true') ×
        .modal-body 



          div
            label(for="") Upload csv file
            input.form-control#fileUpload(type="file" accept='.csv'  required) 
            #status
              p#status_message(style='color:green')
            #error_div
              p#error_message(style='color:red')
          div(style="margin-top:10px")
            button.btn.btn-primary.btn-block#importCompanies Submit         
  .modal.fade#import_meters(tabindex='-1' role='dialog' aria-labelledby='exampleModalCenterTitle' aria-hidden='true')
    .modal-dialog
      .modal-content
        .modal-header
          h5#exampleModalCenterTitle.modal-title ADD COMPANY
          button.close(type='button' data-dismiss='modal' aria-label='Close')
            span(aria-hidden='true') ×
        .modal-body
          form.form(action="/admin/add_company" method='POST' )
            .form-group 
              label(for="") Company
              input.form-control(type="text" name='company' required) 
            .form-group 
              button.btn.btn-primary.btn-block Save

  .modal.fade#addemail(tabindex='-1' role='dialog' aria-labelledby='exampleModalCenterTitle' aria-hidden='true')
    .modal-dialog
      .modal-content
        .modal-header
          h5#exampleModalCenterTitle.modal-title ADD EMAIL
          button.close(type='button' data-dismiss='modal' aria-label='Close')
            span(aria-hidden='true') ×
        .modal-body
          form.form(action="/admin/add_email" method='POST' )
            input#id(type="hidden" name='id')
            .form-group 
              label(for="") Email
              input.form-control(type="email" name='email' required) 
            .form-group 
              button.btn.btn-primary.btn-block Save      

  script(src='https://app.revenuestadia.com/accounts/dist-assets/js/plugins/jquery-3.3.1.min.js')
  script(src='https://app.revenuestadia.com/accounts/dist-assets/js/plugins/bootstrap.bundle.min.js')
  script(src='https://app.revenuestadia.com/accounts/dist-assets/js/plugins/perfect-scrollbar.min.js')
  script(src='https://app.revenuestadia.com/accounts/dist-assets/js/scripts/script.min.js')
  script(src='https://app.revenuestadia.com/accounts/dist-assets/js/scripts/sidebar.large.script.min.js')

  script(src='https://app.revenuestadia.com/accounts/dist-assets/js/scripts/customizer.script.min.js')
  script(src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js") 
  script(src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js")


  script.
    $(document).ready( function () {
      $('.mytable').DataTable({
        dom: 'Bfrtip',
        buttons: [
          'copy', 'csv', 'excel', 'pdf', 'print'
        ]
      } );
      $('#addemail').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget) // Button that triggered the modal
        var recipient = button.data('whatever') // Extract info from data-* attributes


          var modal = $(this)
            modal.find('.modal-body #id').val(recipient)




      })
    })
    document.getElementById('importCompanies').addEventListener('click', () => {
      var csv = $("#fileUpload").val();

      document.getElementById('status').style.display = 'block';
      document.getElementById('status_message').innerHTML = 'Processing file.'

      var regex = /^([a-zA-Z0-9\s_\\.\-:])+(.csv|.txt)$/;
      if (regex.test($("#fileUpload").val().toLowerCase())) {

      $('#error_div').hide()
      document.getElementById('error_message').innerHTML = ''
      if (typeof (FileReader) != "undefined") {
        var reader = new FileReader();
        reader.onload = function (e) {
          var rows = e.target.result.split("\r\n");

          if (rows.length > 0) {
            var firstRowCells = GetCSVCells(rows[0], ",");

            var dataArray = new Array();
            for (var i = 1; i < rows.length; i++) {
              var cells = GetCSVCells(rows[i], ",");
              var obj = {};
              for (var j = 0; j < cells.length; j++) {
                obj[firstRowCells[j]] = cells[j];
              }
              dataArray.push(obj);
            }
            if (dataArray.length > 0) {

              document.getElementById('status_message').innerHTML = 'Uploading file to server.'
              setTimeout(() => {
                axios({
                  method: "post",
                  url: "/admin/import_companies/" ,
                  data: dataArray,
                  headers: { "Content-Type": "application/json", "Accept": "application/json" }
                }
                ).then((response) => {
                  
                  if (response.status === 200) {
                    const data  = response.data
                    document.getElementById('status_message').innerHTML = 'Successfully uploaded file to server. '+data.total_saved+" record(s) saved."
                    setTimeout(() => {
                    document.getElementById('status_message').innerHTML = 'Refreshing page in a few.'

                    }, 1500)
                    setTimeout(() => {
                     
                      
                        location.reload()


                    }, 2500)
                  }

                }).catch((error) => {
                 
                  $('#error_div').show()
                  document.getElementById('error_message').innerHTML = 'Internal Server Error. Please try again later.'
                })

              }, 2500)
            }
            else if (dataArray.length < 1) {
             
              $('#status').hide();
              $('#error_div').show()
              location.reload()
              document.getElementById('error_message').innerHTML = 'CSV file is empty!'
            }

          }
        }
        reader.readAsText($("#fileUpload")[0].files[0]);
      } else {
       
        $('#status').hide();
        $('#error_div').show()
        location.reload()

        document.getElementById('error_message').innerHTML = 'This browser does not support HTML5.'

          }
      } else {
       
        $('#status').hide();
        $('#error_div').show()
        location.reload()
        document.getElementById('error_message').innerHTML = 'Please upload a valid CSV file.'

      }


      function GetCSVCells(row, separator) {
        return row.split(separator);
      }
    })